<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rewriteMaps>
                <rewriteMap name="backtest" />
            </rewriteMaps>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="http://gathan.in:8080/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="true" destination="gathan.in:8080" childOnly="true" />
    </system.webServer>
</configuration>
